// layout.haml

!!!
!!! XML
!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", 'xml:lang' => "en" }
  %head
    %title Borderland Media
    %meta{'http-equiv'=>"Content-Type", :content=>"text/html; charset=iso-8859-1"}/
    %meta{'http-equiv'=>"Content-Language", :content=>"en-us"}/
    %link{:href=>"/stylesheet.css", :media => "screen", :rel=>"stylesheet", :type=>"text/css"}
  %body
    #navigation-bar
      .left
        %a.menu-button{ href: "" }
          %img{ src: "/menu_icon.svg", alt: "Menu" } 
          %img.blue{ src: "/menu_icon_blue.svg", alt: "Menu" } 
          / %svg{ height: "25px", version: "1.1", viewBox: "0 0 25 25", width: "18px", xmlns: "http://www.w3.org/2000/svg", :'xmlns:sketch' => "http://www.bohemiancoding.com/sketch/ns", :'xmlns:xlink' => "http://www.w3.org/1999/xlink" }
          /   %g{ fill: "none", :'fill-rule' => "evenodd", id: "TabBar-Icons", stroke: "none", :'stroke-width' => "1" }
          /     %g{ fill: "#000000", id: "Hamburger" }
          /       %path{ d: "M0,2 L25,2 L25,6 L0,6 L0,2 Z M0,10 L25,10 L25,14 L0,14 L0,10 Z M0,18 L25,18 L25,22 L0,22 L0,18 Z" }
        %span
          %strong Borderland Media, LLC
      .right
        %span
          - if @jp
            %a.language-button{ href: "/" } ENG
          - else
            %a.language-button{ href: "/jp/" } 日本語

    .page-wrapper
      = yield

    #footer
      %p.copyright= "&copy; #{Time.new.year} Borderland Media, LLC. All Rights Reserved."

    - if @jp
      = haml :'jp/_navigation_modal'
    - else
      = haml :'_navigation_modal'

%script{ :src=> "http://code.jquery.com/jquery-1.10.2.min.js" }
%script{ :src=> "/application.js" }
:javascript
  // Replace all SVG images with inline SVG
  jQuery('img.svg').each(function(){
      var $img = jQuery(this);
      var imgID = $img.attr('id');
      var imgClass = $img.attr('class');
      var imgURL = $img.attr('src');

      jQuery.get(imgURL, function(data) {
          // Get the SVG tag, ignore the rest
          var $svg = jQuery(data).find('svg');

          // Add replaced image's ID to the new SVG
          if(typeof imgID !== 'undefined') {
              $svg = $svg.attr('id', imgID);
          }
          // Add replaced image's classes to the new SVG
          if(typeof imgClass !== 'undefined') {
              $svg = $svg.attr('class', imgClass+' replaced-svg');
          }

          // Remove any invalid XML tags as per http://validator.w3.org
          $svg = $svg.removeAttr('xmlns:a');

          // Replace image with new SVG
          $img.replaceWith($svg);

      }, 'xml');

  });