// projects_layout.haml

!!!
!!! XML
!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", 'xml:lang' => "en" }
  %head
    %title
      - if @page
        = ["Borderland Media", " | ", @page.capitalize].join
      - else 
        Borderland Media
    %meta{'http-equiv'=>"Content-Type", :content=>"text/html; charset=iso-8859-1"}/
    %meta{'http-equiv'=>"Content-Language", :content=>"en-us"}/
    %link{:href=>"/stylesheet.css", :media => "screen", :rel=>"stylesheet", :type=>"text/css"}/
  %body.project-page
    #navigation-bar
      .left
        %a.menu-button{ href: "" }
          %img{ src: "/menu_icon.svg", alt: "Menu" } 
          %img.blue{ src: "/menu_icon_blue.svg", alt: "Menu" } 
        %span
          - if @jp
            %a{ href: "/jp/" }
              %strong Borderland Media, LLC
          - else
            %a{ href: "/" }
              %strong Borderland Media, LLC
      .right
        %span
          - if @jp
            %a.language-button{ href: "/#{ @page }" } ENG
          - else
            %a.language-button{ href: "/jp/#{ @page }" } 日本語
      #border-bottom

    .page-wrapper
      = yield

    #footer
      %p.copyright= "&copy; #{Time.new.year} Borderland Media, LLC. All Rights Reserved."

    - if @jp
      = haml :'jp/_navigation_modal'
    - else
      = haml :'_navigation_modal'

%script{ :src=> "//code.jquery.com/jquery-1.10.2.min.js" }
%script{ :src=> "/application.js" }
